
BioMark_Code_Files/client/node_modules/
BioMark_Code_Files/server/node_modules/

BioMark_Code_Files/client/package-lock.json
BioMark_Code_Files/server/package-lock.json
package-lock.json

BioMark_Code_Files/client/build/
BioMark_Code_Files/server/uploads/
BioMark_Code_Files/server/results/

BioMark_Code_Files/server/logs/

BioMark_Code_Files/server/modules/

BioMark_Code_Files/server/db

